*{
	//-fx-base: #2e3131;
}
.background{
	-fx-background-color: #2e3131;
}
.vbox-content-panel{
	-fx-background-color: #e8e8e8;
	-fx-background-radius: 10;
}
/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/
.button{
	-fx-background-color: transparent;
	-fx-border-color: white;
	-fx-border-width: 2;
	-fx-text-fill: white;
}
.button:hover{
	-fx-background-color: rgba(255,255,255,.3);
	-fx-border-color: white;
	-fx-border-width: 2;
	-fx-text-fill: white;
}
.button:pressed{
	-fx-background-color: white;
	-fx-border-color: white;
	-fx-border-width: 2;
	-fx-text-fill: black;
}
.button-light{
	-fx-background-color: #bfbfbf;
	-fx-border-color: transparent;
	-fx-background-radius: 0;
	-fx-text-fill: black;
}
.button-light:hover{
	-fx-background-color: #bfbfbf, rgba(255,255,255,.3);
	-fx-border-color: transparent;
	-fx-text-fill: black;
}
.button-light:hover:pressed{
	-fx-background-color: #2e3131;
	-fx-border-color: transparent;
	-fx-text-fill: white;
}
.button:default{
	-fx-background-color: #22a7f0;
	-fx-border-color: white;
}
.button:default:hover:pressed{
	-fx-background-color: white;
	-fx-text-fill: black;
}
.button:default:hover{
	-fx-background-color: #22a7f0,rgba(255,255,255,.3);
	-fx-border-color: white;
}
.button-mood{
	-fx-background-color: #22a7f0;
	-fx-border-color: transparent;
	-fx-pref-height: 65;
	-fx-pref-width: 65;
	-fx-wrap-text: true;
	-fx-text-alignment: CENTER;
	-fx-text-fill: white;
}
.button-mood:hover{
	-fx-background-color: #23bef7;
	-fx-border-color: transparent;
	//-fx-pref-height: 60;
	//-fx-pref-width: 60;
	-fx-wrap-text: true;
	-fx-text-alignment: CENTER;
	-fx-text-fill: white;
}
.button-mood:pressed{
	-fx-background-color: #1474a8;
//	-fx-pref-height: 60;
//	-fx-pref-width: 60;
	-fx-wrap-text: true;
	-fx-text-alignment: CENTER;
	-fx-text-fill: #e8e8e8;
}
.circle-button{
	-fx-border-color: white;
	-fx-border-width: 2.5;
	-fx-background-radius: 5em;
	-fx-border-radius: 5em;
	-fx-min-width: 28px;
	-fx-min-height: 28px;
	-fx-max-width: 28px;
	-fx-max-height: 28px;
}
/*******************************************************************************
 *                                                                             *
 * Checkbox                                                                    *
 *                                                                             *
 ******************************************************************************/
.check-box .box {
	-fx-background-color: transparent;
	-fx-border-color: #2e3131;
	-fx-border-width: 2;
	-fx-padding: 2;
}

.check-box .mark {
    	-fx-background-color: transparent;
    	-fx-background-insets: 0;
    	-fx-padding: 4;
    	-fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";
}
.check-box:indeterminate .mark {
    	-fx-background-color: -fx-mark-color;
    	-fx-shape: "M0,0H8V2H0Z";
    	-fx-scale-shape: false;
}
.check-box:selected .mark {
    	//-fx-background-color: -fx-mark-color;
	-fx-background-color: #2e3131;
}
/*******************************************************************************
 *                                                                             *
 * Slider                                                                      *
 *                                                                             *
 ******************************************************************************/
.slider .thumb {
    	-fx-background-color: transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    	-fx-background-insets: 0,1,2,3;
    	-fx-background-radius: 1.0em;
    	-fx-padding: 7;
}
.slider .track {
    	-fx-background-color: transparent,rgb(76,81,86),rgb(191,195,199);
    	-fx-background-insets: 0,1,2;
    	-fx-background-radius: 5;
    	-fx-padding: 3.5;
}
/*******************************************************************************
 *                                                                             *
 * Text                                                                        *
 *                                                                             *
 ******************************************************************************/
.text{
	-fx-text-fill: white;
}
/*******************************************************************************
*                                                                              *
* ComboBoxBase                                                                 *
*                                                                              *
*******************************************************************************/
.combo-box-base  {
    -fx-background-color: transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 0;
    -fx-padding: 0;
}
.combo-box-base:hover {
    -fx-background-color: transparent,rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 0;
}
.combo-box-base:focused:showing, .combo-box-base:focused:showing:hover {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86),  rgb(201,211,220), linear-gradient(to bottom,rgb(209,221,229) 0%,rgb(207,219,228) 40%,rgb(207,219,228) 60%,rgb(213,224,233) 100%);
    -fx-background-insets: -0.4,1,2,3;
    -fx-background-radius: 0;
}
.combo-box-base:focused {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: -0.4,1,2,3;
    -fx-background-radius: 0;
}
.combo-box-base:focused:hover {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
    -fx-background-insets: -0.4,1,2,3;
    -fx-background-radius: 0;
}
.combo-box-base:focused:pressed {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86),  rgb(201,211,220), linear-gradient(to bottom,rgb(209,221,229) 0%,rgb(207,219,228) 40%,rgb(207,219,228) 60%,rgb(213,224,233) 100%);
    -fx-background-insets: -0.4,1,2,3;
    -fx-background-radius: 0;
}
.combo-box-base .arrow-button {
    -fx-background-color: rgb(76,81,86),linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: 1,2,3 3 3 2;
    -fx-background-radius: 0;
    -fx-padding: 6 7 6 7;
}
.combo-box-base:hover .arrow-button{
    -fx-background-color: rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
    -fx-background-insets: 1,2,3 3 3 2;
}
.combo-box-base:editable:hover .arrow-button,
.combo-box-base:editable:focused:pressed .arrow-button {
    -fx-background-color: rgb(76,81,86),linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(222,223,228) 0%,rgb(195,199,203) 100%);
    -fx-background-insets: 1,2,3 3 3 2;
}
.combo-box-base:editable .arrow-button:hover{
    -fx-background-color: rgb(76,81,86), linear-gradient(to bottom,rgb(200,202,207) 0%,rgb(180,182,187) 100%), linear-gradient(to bottom,rgb(237,239,245) 0%,rgb(211,214,217) 100%);
    -fx-background-insets: 1,2,3 3 3 2;
}
.combo-box-base:editable:focused .arrow-button:pressed{
    -fx-background-color: rgb(76,81,86),rgb(201,211,220), linear-gradient(to bottom,rgb(209,221,229) 0%,rgb(207,219,228) 40%,rgb(207,219,228) 60%,rgb(213,224,233) 100%);
    -fx-background-insets: 1,2,3 3 3 2;
}
.combo-box-base:focused:pressed .arrow-button,
.combo-box-base:focused:showing .arrow-button,
.combo-box-base:focused:showing:hover .arrow-button {
    -fx-background-color: rgb(76,81,86),rgb(201,211,220), linear-gradient(to bottom,rgb(209,221,229) 0%,rgb(207,219,228) 40%,rgb(207,219,228) 60%,rgb(213,224,233) 100%);
    -fx-background-insets: 1,2,3 3 3 2;
}
.combo-box-base .arrow {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 0;
    -fx-padding: 6 7 0 0;
    -fx-shape: "m 12.249,10.251 0,2.889 L 8.125,17 4,13.14 l 0,-2.889 4.125,3.375 4.124,-3.375 z";
}
.combo-box-base:editable .combo-box-base {
    -fx-background-color:transparent;
}
.combo-box-base:editable .text-field {
    -fx-padding: 3 4 2 4;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 0;
}
.combo-box-base:editable:hover .text-field {
    -fx-background-color: transparent,rgb(76,81,86),rgb(244,246,249);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 0;
}
.combo-box-base:editable .text-field:focused {
    -fx-background-color: rgb(76,81,86),rgb(76,81,86),rgb(244,246,249);
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 0;
}
